.env
Spikes/SpikeA.DynamoDbAccessCode/bin
Spikes/SpikeA.DynamoDbAccessCode/obj
Spikes/SpikeB.DynamoDbAccessCode/bin
Spikes/SpikeB.DynamoDbAccessCode/obj
Spikes/SpikeB.WiseWordsAWSLambdaFacade/bin
Spikes/SpikeB.WiseWordsAWSLambdaFacade/obj
Spikes/SpikeB.WiseWordsAWSLambdaFacade.Tests/bin
Spikes/SpikeB.WiseWordsAWSLambdaFacade.Tests/obj
Spikes/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/.vscode
Spikes/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/bin
Spikes/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/obj
Spikes/SpikeC.DynamoDbAccessCode/.vscode
Spikes/SpikeC.DynamoDbAccessCode/bin
Spikes/SpikeC.DynamoDbAccessCode/obj
Spikes/SpikeC/.vscode
Spikes/SpikeC/.aws-sam
Spikes/SpikeC/publish
Spikes/SpikeC/SpikeC.DynamoDbAccessCode/.vscode
Spikes/SpikeC/SpikeC.DynamoDbAccessCode/bin
Spikes/SpikeC/SpikeC.DynamoDbAccessCode/obj
Spikes/SpikeC/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/.vscode
Spikes/SpikeC/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/bin
Spikes/SpikeC/SpikeC.WiseWordsAWSApiGatewayAndLambdaFacade/obj
Beta/WiseWords.ConversationsAndPosts.DataStore/bin
Beta/WiseWords.ConversationsAndPosts.DataStore/obj
Beta/WiseWords.ConversationsAndPosts.DataStore.Tests/bin
Beta/WiseWords.ConversationsAndPosts.DataStore.Tests/obj
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas/.vscode
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas/bin
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas/obj
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas.ApiGatewayProxyIntegration/bin
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas.ApiGatewayProxyIntegration/obj
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas.ApiGatewayProxyIntegration.Tests/bin
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas.ApiGatewayProxyIntegration.Tests/obj
Beta/.vscode
Beta/WiseWords.ConversationsAndPosts.AWS.Lambdas.ApiGatewayProxyIntegration/publish
Beta/node_modules
Beta/WiseWords.FrontEnd/cypress/screenshots
DynamoDbLocalDockerImage/Volume
DevNotepad.txt
.gitignore
Beta/WiseWords.FrontEnd/cypress/failed
